* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav__text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  margin-left: 17px;
}

.main__container {
  display: flex;
  width: 100%;
}

/* -------------------- SIDEBAR ---------------------------- */
.sidebar {
  width: 239px;
  height: 1466px;
  /* Neutral / White */
  background: #FFFFFF;
  box-shadow: 4px 0px 16px rgba(30, 30, 30, 0.08);
  z-index: 2;
}

.brand {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 14px 15px;
}

.brand .nav__text {
  font-size: 22px;
  font-weight: 700;
  margin-left: 0;
}

.brand__icon {
  margin-right: 22px;
  margin-bottom: -6px;
}

.brand__name {
  width: 82px;
  height: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30.05px;
  /* identical to box height */
}

.sidebar__nav {
  padding: 1rem;
}

.sidebar__nav__item {
  position: relative;
  margin-bottom: 1rem;
}

.sidebar__nav__item img {
  width: 14px;
}

.nav__icon {
  margin-right: 0.8rem;
  color: #000000;
  opacity: 0.2;
}

.dashboard {
  font-weight: 700;
}

.dropdown {
  position: relative;
}

.sidebar__dropdown {
  display: flex;
  align-items: center;
}

.sidebar__dropdown_toggler {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.sidebar__dropdown__content {
  width: 100%;
  font-size: 14px;
  line-height: 209.1%;
  /* or 29px */
  opacity: 0.6;
}

.nav__sub__menu {
  border-left: 1px solid #DBE0E8;
  margin: 8px;
  padding: 0px 6px;
  display: none;
}

.show {
  display: block;
}

.downbutton {
  opacity: 1;
  margin-right: 0;
}

.rotate__btn {
  transform: rotate(180deg);
}

/* ------------------------------------ HEADER BASE ----------------------- */
.main__section {
  width: calc(100% - 239px);
}

.header__base {
  height: 60px;
  /* Neutral / White */
  background: #FFFFFF;
  box-shadow: 4px 0px 16px 10px rgba(30, 30, 30, 0.08);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header__icon {
  width: 22.26px;
  height: 22px;
  font-size: 22px;
  line-height: 22px;
  /* identical to box height */
  opacity: 0.3;
  margin-right: 0.8rem;
}

.close__btn {
  display: none;
  width: 22px;
  height: 22px;
}

.header__text {
  width: 265.13px;
  height: 22px;
  opacity: 0.3;
}

.header__text input[type="text"] {
  width: 100%;
}

.search-input {
  font-size: 16px;
  font-weight: 400;
}

.header__bell {
  width: 25.3px;
  height: 25px;
  background: #EFF3F9;
  border-radius: 2px;
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__bell__icon {
  font-size: 12px;
  /* identical to box height */
  color: #000000;
  opacity: 0.5;
  align-items: center;
}

.bell-active {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #F44336;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.header__base__logo {
  width: 25.3px;
  height: 25px;
  background: url(../images/Logo.png);
  border-radius: 2px;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
}

/* ------------------------------------ HERO SECTION ----------------------- */
.hero__container, .hero_img, .hero_img img {
  width: 100%;
}

.hero__img__1 {
  height: 568.53px;
}

.hero__img__2 {
  height: 250px;
}

.hero__img__3 {
  height: 590.83px;
}

/* --------------------------------- Search Result ----------------------- */
#search-result {
  display: none;
}

.search__content {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 2.5rem;
  grid-gap: 2rem;
}

.search__content .search__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  opacity: 0.6;
}

.accounts__contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  padding: 2rem;
}

.account__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__content__left {
  display: flex;
  align-items: center;
  grid-gap: 1.5rem;
}

.account__content__left img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.account__content__left .heading {
  font-weight: 700;
  line-height: 22px;
  margin-left: 0;
  opacity: 1;
}

.account__content__left .text {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  margin-left: 0;
}

.account__content__right {
  width: 53px;
  height: 30px;
  border: 1px solid #FF6059;
  border-radius: 2px;
  text-align: center;
  padding-top: 0.4rem;
  color: #FF6059;
}

.account__content__right p {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.quick__action__content {
  padding-top: 1.2rem;
}

.search__page__right .text {
  font-weight: 700;
  font-size: 14px;
  padding-top: 19px;
}

.org_logo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
}

.loading {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
